body {
    background-color: pink;
}
  
.box-3 {
    height: 500px;
    background-color: #d4f7f7;
  }
  
  .box-4 {
    height: 150px;
    background-color: #e7f8f8;
    padding-top: 30px;
  }
  .box-5 {
    height: 100px;
    background-color: #e7f8f8;
    padding-top: 40px;